<div class="ui container">
  <h2>Reservations</h2>
  <div class="ui grid">
    <div class="nine wide column">
      <div class="ui fluid raised card">
        <div class="content">
          <h2 class="header">Reservations</h2>
          <div class="description">
            <div class="ui form">
              <div class="equal width fields">
                <div class="field">
                  <label>Employee Number</label>
                  <input type="text" placeholder="Employee Number">
                </div>
                <div class="field">
                  <label>Time</label>
                  <input type="text" placeholder="Time">
                </div>
              </div>
              <div class="field">
                <label>Location</label>
                <select>
                  <option value="">Location</option>
                  <option value="1">Conference Room</option>
                  <option value="0">Office One</option>
                </select>
              </div>
              <div class="field">
                <div class="ui fluid button" id="submit">Submit</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
