<div class="ui container">
  <h2>Analytics</h2>
  <div class="ui grid">
    <div class="sixteen wide column">
      <div class="ui fluid raised card">
        <div class="ui content form">
          <h2 class="header">Hourly Room Usage</h2>
          <div class="ui five wide inline field">
            <select>
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
            </select>
          </div>
          <div class="description">
            <div style="display: block;">
              <canvas *ngIf="!loading" baseChart height="100px" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
