<div class="ui left fixed inverted borderless vertical menu">
  <div class="item">
    <img class="ui fluid image" src="../../../assets/images/logo.png">
  </div>
  <a class="item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item" routerLink="/heatmap" routerLinkActive="active">
      <i class="map icon"></i>
      Heatmap
  </a>
  <a class="item" routerLink="/reservation" routerLinkActive="active">
    <i class="map pin icon"></i>
    Reserve Rooms
  </a>
  <a class="item" routerLink="/analytics" routerLinkActive="active">
    <i class="line chart icon"></i>
    Analytics
  </a>
</div>
